<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <title></title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
</head>
<body>
<p>this is the one!</p>
<h1>Thanks for signing up, Mike!</h1>
    <p>Thanks for joining and have a great day! Now sign in and do
awesome things!</p>
<script src=""></script>
</body>
</html>