<div class="client_list">
		<%#= render partial: 'client_list', locals: {clients: @clients} %>
</div>

<div class="text_editor">
  <form>
	  <textarea name="editor1" id="editor1" rows="10" cols="80">
	  </textarea>
	  <script>
	      // Replace the <textarea id="editor1"> with a CKEditor
	      // instance, using default configuration.
	      CKEDITOR.replace( 'editor1' );
	  </script>
	</form>
</div>


