/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */
// @import "bootstrap-sprockets";
// @import "bootstrap";
$blue: #6CBFE4;
@mixin margin_padding($num){
	margin: $num;
	padding: $num;
}

*{
	font-family: Arial;
	color: #888;
}

a {
	color: #888;
}


body{
	@include margin_padding(0);
	// background-color: #f7f7f7;
}

.red {
	color: #fc755d;
}

.green {
	color: #16ce1f;
}

#flashy {
	position: fixed;
	width: 88.5%;
    height: 20px;
    font-size: 17px;
    text-align: center;
    padding: 10px;
    margin: 17px 121px;
    border-radius: 3px;
    background-color: #fc755d;
    color: white;
}

#freelance_logo{
	width:100%;
}

@import 'navbar';

.site_container{
	margin-left: 100px;
	padding: 20px;
	overflow: auto;

}
.outer_modal{
	position: fixed;
	width: 90%;
	height: 95vh;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: $blue;
	// background-color: rgba(221, 221, 221, 0.95);
	display: none;
	.inner_modal{
		width: 470px;
		margin: 0 auto;
		text-align: center;
	}
	.modal_close_button{
		@include margin_padding(0);
		position: absolute;
		right: 30px;
		top: 20px;
		font-size: 30px;
	}
	.modal_close_button a {
		color: white;
		padding: 10px;
		text-decoration: none;
	}
	.form_label_field{
		display:flex;
		justify-content: space-between;
	}
	.form_label_field label,p,h2{
		color: white;
	}
	.form_label_field label {
		font-size: 20px;
	}
	.form_label_field input {
		width: 300px;
		height: 30px;
		color: white;
		font-size: 20px;
		border-radius: 3px;
		background-color: transparent;
		border: 1px solid white;
	}
	#add_client_submit{
		width: 100%;
		height: 30px;
		color: white;
		font-size: 20px;
		border-radius: 3px;
		border: 1px solid white;
		background: transparent;

	}
}
.user_greeting{
	width: 90%;
	top: 0;
}
.user_greeting h3{
	margin-left: 40px;
}

.client_container{
	width: 45%;
	max-width: 45%;
	float:left;
	.add_client_form_container h3{
		float: left;
		margin: 18px 0 20px 0;
	}

	.add_client_button{
		width: 100%;
		float:left;
	    background-color: #6cbfe4;
		border: none;
	    border-radius: 3px;
	    margin-bottom: 20px;
	    text-align: center;
	}

	.add_client_button a{
		color: white;
		text-decoration: none;
		padding: 0 130px 0 130px;
	}


	.client_box{
		border: 1px solid #ccc;
		border-radius: 3px;
		margin-bottom: 10px;
		padding: 10px;
	}

	.client_box p {
		display: inline-block;
		font-size: 13px;
	}

	.client_job_list{
		display: none;
	}

	.client_job_list p{
		width: 98%;
		background-color: #efefef;
		padding: 5px;
	}

	.client_list_container h3{
		width: 100%;
		clear:both;
	}

	#client_menu{
		width: 100%;
		height: 25px;
		margin-bottom: 10px;
		display: flex;
		justify-content: space-around;
		.all_clients{
			text-align: center;
			width: 50%;
			padding-top: 3px;
			background-color: #fc755d; 
		}
		
		.search_results{
			text-align: center;
			width: 50%;
			padding-top: 3px;
			border: 1px solid #ccc;
		}

		.all_clients a{
			padding: 0 70px 0 70px;
			text-decoration: none;
			color: #ffffff;
		}
		.search_results a{
			padding: 0 79px 0 80px;
			text-decoration: none;
		}
	}

	#client_search_wrapper{
		display: none;

		.job_search {
			margin-bottom: 15px
		}
		.search_client_box {
			@extend .client_box;
		}

		.search_client_box p {
			display: inline-block;
			font-size: 13px;
		}
		.search_client_job_list{
			display: none;
		}
		.search_client_job_list p {
			width: 98%;
			background-color: #efefef;
			padding: 5px;
		}
	}

	.pagination{
  		text-align: center;
  		padding: 0.3em;
  		cursor: default;
		a, span, em{
    		padding: 0.2em 0.5em;
    	}
		.disabled{
    		color: #aaaaaa;
    	}
		.current{
    		font-style: normal;
    		font-weight: bold;
    		color: #fc755d;
    	}
  		a{
    		border: 1px solid #dddddd;
    		color: #ccc;
    		text-decoration: none;
    	}
    	&:hover, &:focus{
      		// border-color: #003366;
      		// background: #0063dc;
      		// color: white;
      	}
  		.page_info{
    		color: #aaaaaa;
    		padding-top: 0.8em;
    	}
  		.previous_page, .next_page{
  		    border-width: 2px;
  		}
  		.previous_page{
  			// margin-right: 1em;
  		}
  		.next_page{
    		// margin-left: 1em;
    	}	
    }

    #search {
    	width: 70%;
    	height: 20px;
    	border-radius: 3px;
    	border: 1px solid #ccc;
    }
    #search_button {
    	width: 28%;
    	height: 23px;
    	background-color: transparent;
    	border: 1px solid #ccc;
        border-radius: 3px;
    }

}

.calendar{
	width:50%;
	float: left;
	margin-right: 45px;
	.container{
		width: 100%;
		margin: 0 auto;
		margin-left: 10px;
		margin-bottom: 30px;

		display: inline-block;

	}
	.calendar_nav{
		margin-top: 30px;
		margin-bottom: 3px;
	}
	.calendar_back{
		width: 40px;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 3px;
		text-align: center;
	}
	.calendar_back a {
		padding: 10px;
		text-decoration: none;
	}
	.calendar_fwd{
		width: 40px;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 3px;
		text-align: center;
	}
	.calendar_fwd a {
		padding: 10px;
		text-decoration: none;
	}
}

.todo_list{
	float: left;
	width: 95.5%;
	margin-left: 10px;
	padding: 0 2% 2% 2%;
	border: 1px solid #ccc;
	h3, h4, #todo_date {
		text-align:  center;
	}
	#todo_table {
		width: 100%;
	}
	.todo_titles{
		width: 100%
	}
	.todo_items{
		border-bottom: 1px solid #ccc;
		width: 100%;
		text-align: center;
	}
	.todo_first{
		text-align: left;
	}
	.todo_last{
		text-align: right;
	}
	#todo_item{
		width: 100%;
		height: 20px;
		border-radius: 3px;
		border: 1px solid #ccc;
	}
	#todo_submit {
		width: 100%;
		height:20px;
		border-radius: 3px;
		border: none;
		background-color: #6cbfe4;
		border: none;
		color: white;
	}
}
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@ USER/EDIT @@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@


.user_profile{
	width: 45%;
	margin-right: 30px;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
	float: left;

	#current_logo {
		width: 97%;
	}
}

.edit_user_form{
	width: 45%;
	padding: 15px 25px 15px 25px;
	border: 1px solid #ccc;
	border-radius: 5px;
	float: left;

	#file_upload{
		background-color: transparent;
	}

	input {
		width: 100%;
		height: 25px;
		border-radius: 3px;
		border: 1px solid #ccc;
		background-color: transparent;
	}

}
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
//@@@@@@@@@@@@ CLIENT EDIT @@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

.client_info_box {
	float:left;
	width: 45%;
	margin-right: 65px;

	.client_info {
		width: 100%;
		padding: 15px;
		border: 1px solid #ccc;
		border-radius: 5px;
	}

	.delete_client {
		display: flex;
		justify-content: space-between;
	}
	.edit_client_form {
		border: 1px solid #ccc;
		padding: 0 0 0 30px;
		display: none;
	}
	#edit_client_submit{
		color: #fc755d;
		border: 1px solid #fc755d;
	}
	input {
		width: 90%;
		height: 25px;
		border-radius: 3px;
		border: 1px solid #ccc;
		background-color: transparent;
	}
	textarea {
		@extend input;
	}
}

.add_job_form {
	width: 43%;
	margin-right: 30px;
	padding: 0 0 0 30px;
	border: 1px solid #ccc;
	border-radius: 5px;
	float: left;
	input {
		width: 90%;
		height: 25px;
		border-radius: 3px;
		border: 1px solid #ccc;
		background-color: transparent;
	}
	textarea {
		@extend input;
	}
	#add_job_submit{
		color: #fc755d;
		border: 1px solid #fc755d;
	}
}
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// ######## Job Show ############
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

.outer_modal_job{
	position: fixed;
	width: 90%;
	height: 95vh;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: rgba(221, 221, 221, 0.95);
	display: none;
	.inner_modal_job{
		width: 500px;
		margin: 0 auto;
		text-align: center;
	}
	.modal_close_button_job{
		@include margin_padding(0);
		position: absolute;
		right: 30px;
		top: 20px;
		font-size: 30px;
	}
	.modal_close_button_job a {
		color: #888;
		padding: 10px;
		text-decoration: none;
	}
	.job_edit_form{
		display:flex;
		justify-content: space-between;
	}
	.job_edit_form label,p,h2{
		color: #888;
	}
	.job_edit_form label {
		font-size: 20px;
	}
	.job_edit_form input, textarea {
		width: 300px;
		height: 30px;
		color: #888;
		font-size: 20px;
		border-radius: 3px;
		background-color: transparent;
		border: 1px solid #888;
	}
	.job_edit_form select {
		width: 145px;
		height: 30px;
		color: #888;
		font-size: 20px;
		border-radius: 3px;
		background-color: transparent;
		border: 1px solid #888;
	}
	#edit_job_submit{
		width: 100%;
		height: 30px;
		color: #888;
		font-size: 20px;
		border-radius: 3px;
		border: 1px solid #888;
		background: transparent;

	}
}

#job_list_show_container{
	width: 55%;
	float: left;
	border: 1px solid #ccc;
	overflow: auto;
	padding: 15px;
	margin-bottom: 15px;
	border-radius: 3px;

	.job_list_show {
		width: 100%;
		height: auto;
		float: left;
	}
	h3 {
		float: left;
	}

	#job_edit_link{
		margin: 40px 0 0 131px;
	}

	.job_list_show p {
		clear:both;
		// border-bottom: 1px solid #ccc;
	}

}

.stripe {
	background-color: #efefef;
	padding: 5px;
}

.pdf_options{
	max-height: 63px;
	width: 35%;
	float:left;
	font-size: 13px;
	padding: 6.31px 15px 0 15px;
	border: 1px solid #ccc;
	border-radius: 3px 0 0 3px;
	text-align: center;
	display: flex;
	justify-content: space-around;
}	

#job_price_balance{
	display: flex;
	min-height: 49px;
	padding-top: 20px;
	justify-content: space-around;
	border-radius: 0 3px 3px 0;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 15px;
}

#job_jobitems{
	width: 93.5%;
	padding: 20px;
	float:left;
	border: 1px solid #ccc;
	border-radius: 3px;
	
	#jobitems_title{
		display: flex;
		justify-content: space-between;
	}
	#jobitem_table{
		width: 100%;
	}
	.jobitem_box{
		margin-bottom: 10px;
	}
	.td_center{
		text-align: left;	
	}
	.td_date{
		text-align: left;
		width: 14%;
	}
	.td_first{
		text-align:left;
		width: 55%;
	}
	.td_last{
		text-align: right;
		width: 5%;
	}
	#job_item_name {
		width: 54%;
		border: 1px solid #ccc;
	}
	#jobitem_price {
		width: 24%;
		border: 1px solid #ccc;
	}
	#jobitem_date {
		border: 1px solid #ccc;
	}
	#jobitem_form input {
		height: 20px;
		margin: 10px 0 5px 0;
		border-radius: 3px;
		
	}
	#jobitem_button {
		width: 100%;
		background-color: #6cbfe4;
		color: white;
		border: none;
	}

}



#job_payments {
	width: 34%;
	float:left;
	margin: 0 0 15px 30px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 3px;
	#payment_title{
		display: flex;
		justify-content: space-between;
	}
	#payment_table {
		width: 100%;
	}
	.payment_box{
		margin-bottom: 10px;
	}
	.td_center{
		text-align: center;	
	}
	.td_first{
		text-align:left;
		width: 30%;
	}
	.td_date {
		text-align: left;
    	width: 14%;
	}
	.td_last{
		text-align: right;
		width: 5%;
	}
	#payment_form{
		margin-top: 15px;
	}
	#payment_type{
		width: 41%;
		border: 1px solid #ccc;
	}
	#payment_date{
		border: 1px solid #ccc;
	}
	#payment_amount{
		border: 1px solid #ccc;
	}
	#payment_form input{
		height: 20px;
		border-radius: 3px;
	}

	#payment_button {
		width: 100%;
		margin-top: 10px;
		color: white;
		background-color: #6cbfe4;
		border: none;
	}
	
}

#job_expenses {
	width: 34%;
	float:left;
	margin-left: 30px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 3px;

	#expense_title {
		display: flex;
		justify-content: space-between;
	}
	#expense_table {
		width: 100%;
	}
	.expense_box {
		margin-bottom: 10px;
	}
	.td_center{
		text-align: center;	
	}
	.td_first{
		text-align:left;
		width: 30%;
	}
	.td_date{
		text-align: left;
		width: 14%;
	}
	.td_last{
		text-align: right;
		width: 5%;
	}
	#expense_form {
		margin-top: 15px;
	}
	#expense_description {
		width: 41%;
		border: 1px solid #ccc;
	}
	#expense_date {
		border: 1px solid #ccc;
	}
	#expense_amount{
		border: 1px solid #ccc;
	}
	#expense_form input {
		height: 20px;
		border-radius: 3px;
	}
	#expense_button {
		margin-top: 10px;
		width: 100%;
		color: white;
		background-color: #6cbfe4;
		border: none;
	}
}

.edit_job_form {
	width: 55%;
	float:left;
	margin: 0 0 10px 0px;
	padding: 0 15px 0 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.edit_job_form {
	clear: both;
}
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@ Charts @@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
#graph_container{ 
	width: 62.5%;
	float: left;
	padding: 0 20px 20px 20px;
	margin-top: 40px;
	border: 1px solid #ccc;
	border-radius: 3px;

	#graph {
	}
	.bar:hover {
		fill: #fc755d;
	}
}

#ytd_stats {
	width: 25%;
	height: 496px;
	float: left;
	margin-left: 30px;
	margin-top: 40px;
	padding: 0 20px 20px 20px;
	border: 1px solid #ccc;
	border-radius: 3px;
	strong {
		margin-left: 5px;
	}
}

#num_jobs_graph_container {
	width: 62.5%;
    float: left;
    padding: 0 20px 20px 20px;
    margin-top: 40px;
    border: 1px solid #ccc;
    border-radius: 3px;

    path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
	}

	.axis path,
	.axis line {
	    fill: none;
	    stroke: grey;
	    stroke-width: 1;
	    shape-rendering: crispEdges;
	}
}


//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@ PDF Styling @@@@@@@@@@@@@@
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

#pdf_logo {
	width: 85%;
	max-height: 200;
	margin: 0 auto;
}

#pdf_user_info{
	width: 100%;
}
#pdf_user_info p {
	display: inline-block;
	padding: 0 45px 0 85px;
	margin: 0;
	font-size: 10px
}

#invoice_title{
	text-align: center;
}

.job_list{
	margin-left: 50px;
	width: 85%
}

#itemized_pdf_container {
	margin-top: 40px;
}
.pdf_table{
	width: 90%;
	margin: 0 auto;
	text-align: left;
}
td{
	padding: 5px;
	border-bottom: 1px solid #ccc;
}

#pdf_footer {
	margin-top: 40px;
}

.sig {
	@include margin_padding(0);
}

// ################## LINE GRAPH #########################

path { 
    stroke: steelblue;
    stroke-width: 3;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
