/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */
// @import "bootstrap-sprockets";
// @import "bootstrap";

@mixin margin_padding($num){
	margin: $num;
	padding: $num;
}

*{
	font-family: Arial;
	color: #888;
}



body{
	@include margin_padding(0);
}


@import 'navbar';

.site_container{
	margin-left: 100px;
	padding: 20px;
	overflow: auto;
}
.outer_modal{
	position: fixed;
	width: 90%;
	height: 95vh;
	background-color: rgba(147, 147, 147, 0.85);
	display: none;
	.inner_modal{
		width: 470px;
		margin: 0 auto;
		text-align: center;
	}
	.modal_close_button{
		@include margin_padding(0);
		position: absolute;
		right: 30px;
		top: 20px;
		font-size: 30px;
	}
	.modal_close_button a {
		color: white;
		padding: 10px;
		text-decoration: none;
	}
	.form_label_field{
		display:flex;
		justify-content: space-between;
	}
	.form_label_field label,p,h2{
		color: white;
	}
	.form_label_field label {
		font-size: 20px;
	}
	.form_label_field input {
		width: 300px;
		height: 30px;
		color: white;
		font-size: 20px;
		border-radius: 3px;
		background-color: transparent;
		border: 1px solid white;
	}
	#add_client_submit{
		width: 100%;
		height: 30px;
		color: white;
		font-size: 20px;
		border-radius: 3px;
		border: 1px solid white;
		background: transparent;

	}
}
.user_greeting{
	width: 90%;
	top: 0;
}
.client_container{
	width: 42%;
	max-width: 42%;
	float:left;
	.add_client_button button{
		width: 100%;
		border: 1px solid #ccc;
		border-radius: 3px;
		background: transparent;
	}
	.client_box{
		border: 1px solid #ccc;
		border-radius: 3px;
		margin: 5px;
		padding: 10px;
	}
	.client_box p {
		display: inline-block;
		font-size: 13px;
	}

	.client_job_list{
		display: none;
	}

}

.calendar{
	width:50%;
	float: left;
	margin-right: 80px;
	.container{
		width: 100%;
		margin: 0 auto;
		margin-left: 40px;
		margin-bottom: 30px;

		display: inline-block;

	}
	.calendar_nav{
		margin-bottom: 3px;
	}
	.calendar_back{
		width: 40px;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 3px;
		text-align: center;
	}
	.calendar_back a {
		padding: 10px;
		text-decoration: none;
	}
	.calendar_fwd{
		width: 40px;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 3px;
		text-align: center;
	}
	.calendar_fwd a {
		padding: 10px;
		text-decoration: none;
	}
}

.todo_list{
	float: left;
	width: 45.8%;
	margin-left: 40px;
	padding: 0 2% 2% 2%;
	border: 1px solid #ccc;
	h3, h4 {
		text-align:  center;
	}
	.todo_titles{
		display: flex;
		justify-content: space-between;
	}
	.todo_items{
		border-bottom: 1px solid #ccc;
		display: flex;
		justify-content: space-between;
	}
}

// ######## Job Show ############
.job_list_show {
	width: 60%;
	height: 100vh;
	float: left;
}

