/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */
// @import "bootstrap-sprockets";
// @import "bootstrap";

@mixin margin_padding($num){
	margin: $num;
	padding: $num;
}

*{
	font-family: Arial;
	color: #888;
}



body{
	@include margin_padding(0);
}

.red {
	color: #fc755d;
}

.green {
	color: #16ce1f;
}


@import 'navbar';

.site_container{
	margin-left: 100px;
	padding: 20px;
	overflow: auto;
}
.outer_modal{
	position: fixed;
	width: 90%;
	height: 95vh;
	background-color: rgba(147, 147, 147, 0.85);
	display: none;
	.inner_modal{
		width: 470px;
		margin: 0 auto;
		text-align: center;
	}
	.modal_close_button{
		@include margin_padding(0);
		position: absolute;
		right: 30px;
		top: 20px;
		font-size: 30px;
	}
	.modal_close_button a {
		color: white;
		padding: 10px;
		text-decoration: none;
	}
	.form_label_field{
		display:flex;
		justify-content: space-between;
	}
	.form_label_field label,p,h2{
		color: white;
	}
	.form_label_field label {
		font-size: 20px;
	}
	.form_label_field input {
		width: 300px;
		height: 30px;
		color: white;
		font-size: 20px;
		border-radius: 3px;
		background-color: transparent;
		border: 1px solid white;
	}
	#add_client_submit{
		width: 100%;
		height: 30px;
		color: white;
		font-size: 20px;
		border-radius: 3px;
		border: 1px solid white;
		background: transparent;

	}
}
.user_greeting{
	width: 90%;
	top: 0;
}
.client_container{
	width: 42%;
	max-width: 42%;
	float:left;
	.add_client_button{
		width: 100%;
		border: 1px solid #ccc;
		border-radius: 3px;
		text-align: center;
	}
	.add_client_button a{
		text-decoration: none;
		padding: 0 130px 0 130px;
	}
	.client_box{
		border: 1px solid #ccc;
		border-radius: 3px;
		margin-bottom: 10px;
		padding: 10px;
	}
	.client_box p {
		display: inline-block;
		font-size: 13px;
	}

	.client_job_list{
		display: none;
	}


	#client_menu{
		width: 100%;
		height: 25px;
		margin-bottom: 10px;
		display: flex;
		justify-content: space-around;
		.all_clients{
			text-align: center;
			width: 50%;
			padding-top: 3px;
			background-color: #fc755d; 
		}
		
		.search_results{
			text-align: center;
			width: 50%;
			padding-top: 3px;
			border: 1px solid #ccc;
		}
		.all_clients a{
			padding: 0 70px 0 70px;
			text-decoration: none;
			color: #ffffff;
		}
		.search_results a{
			padding: 0 79px 0 80px;
			text-decoration: none;
		}
	}
	#client_search_wrapper{
		display: none;
	}

	.pagination{
  		text-align: center;
  		padding: 0.3em;
  		cursor: default;
		a, span, em{
    		padding: 0.2em 0.5em;
    	}
		.disabled{
    		color: #aaaaaa;
    	}
		.current{
    		font-style: normal;
    		font-weight: bold;
    		color: #fc755d;
    	}
  		a{
    		border: 1px solid #dddddd;
    		color: #ccc;
    		text-decoration: none;
    	}
    	&:hover, &:focus{
      		// border-color: #003366;
      		// background: #0063dc;
      		// color: white;
      	}
  		.page_info{
    		color: #aaaaaa;
    		padding-top: 0.8em;
    	}
  		.previous_page, .next_page{
  		    border-width: 2px;
  		}
  		.previous_page{
  			// margin-right: 1em;
  		}
  		.next_page{
    		// margin-left: 1em;
    	}	
    }

}

.calendar{
	width:50%;
	float: left;
	margin-right: 80px;
	.container{
		width: 100%;
		margin: 0 auto;
		margin-left: 40px;
		margin-bottom: 30px;

		display: inline-block;

	}
	.calendar_nav{
		margin-bottom: 3px;
	}
	.calendar_back{
		width: 40px;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 3px;
		text-align: center;
	}
	.calendar_back a {
		padding: 10px;
		text-decoration: none;
	}
	.calendar_fwd{
		width: 40px;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 3px;
		text-align: center;
	}
	.calendar_fwd a {
		padding: 10px;
		text-decoration: none;
	}
}

.todo_list{
	float: left;
	width: 45.8%;
	margin-left: 40px;
	padding: 0 2% 2% 2%;
	border: 1px solid #ccc;
	h3, h4, #todo_date {
		text-align:  center;
	}
	.todo_titles{
		display: flex;
		justify-content: space-between;
	}
	.todo_items{
		border-bottom: 1px solid #ccc;
		display: flex;
		justify-content: space-between;
	}
}

// ######## Job Show ############
#job_list_show_container{
	width: 55%;
	float: left;
	border: 1px solid #ccc;
	overflow: auto;
	padding: 15px;
	margin-bottom: 15px;
	border-radius: 3px;

	.job_list_show {
		width: 100%;
		height: auto;
		float: left;
	}

	.job_list_show p {
		// border-bottom: 1px solid #ccc;
	}

}

.stripe {
	background-color: #efefef;
	padding: 5px;
}

.pdf_options{
	width: 35%;
	float:left;
	font-size: 13px;
	margin: 0 0 10px 0px;
	padding: 3.31px 15px 3.31px 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	text-align: center;
	display: flex;
	justify-content: space-around;
}	

#job_price_balance{
	display: flex;
	justify-content: space-around;
	border-radius: 3px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 15px;
}

#job_jobitems{
	width: 93.5%;
	padding: 20px;
	float:left;
	border: 1px solid #ccc;
	border-radius: 3px;
	
	#jobitems_title{
		display: flex;
		justify-content: space-between;
	}
	.jobitem_box{
		border-bottom: 1px solid #ccc;
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
	}

	.jobitem_box p{
		margin: 5px 0 5px 0;
	}

	#job_jobitems p {
		border-bottom: 1px solid #ccc;
	}
	#jobitem_form input {
		border-radius: 3px;
		border: 1px solid #ccc;
		background: transparent;
	}

}

#job_payments {
	width: 34%;
	float:left;
	margin: 0 0 15px 30px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 3px;

	#payment_title{
		display: flex;
		justify-content: space-between;
	}

	.payment_box{
		border-bottom: 1px solid #ccc;
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
	}
	.payment_box p{
		margin: 5px 0 5px 0;	
	}
	#payment_form input{
		border-radius: 3px;
		border: 1px solid #ccc;
		background: transparent;
	}
}

#job_expenses {
	width: 34%;
	float:left;
	margin-left: 30px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 3px;

	#expense_title {
		display: flex;
		justify-content: space-between;
	}

	.expense_box {
		border-bottom: 1px solid #ccc;
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
	}

	.expense_box p {
		margin: 5px 0 5px 0;
	}

	#expense_form input {
		border-radius: 3px;
		border: 1px solid #ccc;
		background: transparent;
	}
}

.edit_job_form {
	width: 55%;
	float:left;
	margin: 0 0 10px 0px;
	padding: 0 15px 0 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
}



.edit_job_form {
	clear: both;
}
