// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$blue: #6CBFE4;
#session_body {
	background-color: $blue;
}
#header {
	background-color: white;
	box-shadow: 0 0 10px #888;
}
#header p{
	color: #888;
	margin-left: 20px;
	font-size: 2em;
	display: inline-block;
}
#header img {	
	height: 70px;
}


.sign_in {
	width: 41%;
	display: inline-block;
	float: right;
	h6 {
		color: $blue;
		margin: 5px 0;
		
	}
	label {
		font-size: 1em;
	}
	input {
		width: 25%;
		border-radius: 3px;
		border: 1px solid #ccc;
	}
	#sign_in_button {
		width: 20%;
		color: white;
		border: none;
		background-color: $blue;
	}
}

.sign_up {
	width: 13%;
	margin: 3% 0 0 20px;
	border: 1px solid white;
	border-radius: 3px;
	background-color: white;
	box-shadow: 0 0 10px #888;
	padding: 0 3% 20px 3%;
	float: left;
	h3 {
		color: $blue;
		margin: 20px 0;
	}
	input {
		width: 85%;
		border-radius: 3px;
		border: 1px solid #ccc;
	}
	p {
		margin: 0;
	}

	#sign_up_button {
		margin-top: 20px;
		color: white;
		border: none;
		background-color: $blue;
	}
}

#about{
	width: 70.5%;
    margin-left: 73px;
    margin-top: 2.5%;
    float: left;
}
#about h3{
	color: #fc755d;
	background-color: #f4fbff;
    border-radius: 3px;
    padding: 10px;
}
#about p {
	color: white;
	font-size: 1.5em;
}

#bullet_points {
	margin-left: 74px;
	padding-top: 20px;
	width: 70%;
	display: flex;
	justify-content: space-between;
	float: left;
	#organization {
		background-color: #83d4f7;
	}
	#calendar {
		background-color: #5fb4d8;
	}
	#pdf_info {
		background-color: #83d4f7;
	}
	#analytics_about {
		background-color: #5fb4d8;
	}
	.features {
		padding: 20px;
		text-align: center;
	}
	.features img {
		width: 50%;
		margin-bottom: 20px;
		padding: 0 10%;
		// text-align: center;
	}
	.features p {
		color: white;
		width: 100%;
		padding: 0 0;
		margin: 0;
		text-align: left;
	}
	#analytics_about p {
		margin-top: 10px;
	}
}
#image_module{
	width: 70%;
	margin-bottom: 70px;
	left: 0;
	float:left
}
.image_nav {
	position: absolute;
	width: 5%;
	padding-top: 256px;
	padding-bottom: 243.5px;
	float: left;
	text-align: center;
	opacity: 0;
}
.image_nav:hover{
	transition: opacity .2s ease-in-out;
	opacity: 1;
}
.image_nav a{
	font-size: 50px;
	color: #ccc;
	text-decoration: none;
}
#image_nav_left {
	margin-left: 0px	
}
#image_nav_right {
	 margin-left: 61.5%;
}

#site_images {
	width: 95%;
	margin: 60px 0 0 20px;
	float: left;
	#screen_shots {
		width: 100%;
		box-shadow: 0 0 15px #888;
	}
}

#images_about {
	margin: 30px 0 20px 10px;	
	max-width: 25%;
	min-width: 25%;
	float: left;
	h4 {
		color: white;
	}
	p {
		color: white;
	}

}

footer {
	clear: both;
	margin-top: 30px;
	background-color: white;
	height: 50px;

	h5 {
		margin: 0;
	}
}
